---
import "./Featured.scss";
import Image from "astro/components/Image.astro";
import Image1 from "../../components/assets/images/Image 01.png";
import Image2 from "../../components/assets/images/Image 02.png";
import Image3 from "../../components/assets/images/Image 03.png";
import Image4 from "../../components/assets/images/Image 04.png";
import Image5 from "../../components/assets/images/Image 05.png";
---

<section id="featured">
  <figure class="card">
    <Image src={Image1} alt="" />
    <figcaption>
      <span>Robótica</span>
      <h2>
        Robôs domésticos começam a ser adotados para tarefas diárias, prometendo
        mais conforto e eficiência nas residências.
      </h2>
    </figcaption>
  </figure>

  <figure>
    <figure class="card">
      <Image src={Image2} alt="" />
      <figcaption>
        <span>Hologramas</span>
        <h2>
          Novo Smartphone Projetor 3D chega ao mercado, transformando a forma
          como vemos nossas telas!
        </h2>
      </figcaption>
    </figure>
    <figure class="card">
      <Image src={Image3} alt="" />
      <figcaption>
        <span>Internet</span>
        <h2>
          Tecnologia 6G chega às metrópoles brasileiras, prometendo revolucionar
          a forma como vivemos e nos comunica...
        </h2>
      </figcaption>
    </figure>
    <figure class="card">
      <Image src={Image4} alt="" />
      <figcaption>
        <span>Vestíveis</span>
        <h2>
          Empresa lança relógio inteligente capaz de monitorar a saúde mental,
          oferecendo insights valiosos para o ...
        </h2>
      </figcaption>
    </figure>
    <figure class="card">
      <Image src={Image5} alt="" />
      <figcaption>
        <span>Realidade Virtual</span>
        <h2>
          Escolas adotam a tecnologia VR para proporcionar experiências
          imersivas, transformando a aprendizagem tradi...
        </h2>
      </figcaption>
    </figure>
  </figure>
</section>
